<div class="index" bgcolor="#E0FFFF">
  <table class="table">
    <tbody>
      <tr>
        <td class="divorce-text16" align="center" >
          <strong>4 Easy Divorce Options. To Get Started Just Pick The One That Is Right For You!</strong>
        </td>
      </tr>
      <tr>
        <table class="table"><tbody>
          <td align="center">
            <a target="_blank" href="/divorce_no_children_no_debts_info_document_only"><img width="187" height="150" border="0" alt="Documents Only Divorce $99" src="<%= asset_path( 'documents-only.gif' ) %>"></a>           
          </td>
          <td align="center">
            <a target="_blank" href="/divorce_no_children_no_debts_info.htm"> <img width="187" height="150" border="0" alt="No Children, Debts, Or Property Florida Simple Uncontested Divorce" src="<%= asset_path( 'florida-divorce-no-children.gif' ) %>"></a>            
          </td>
          <td align="center">
            <a target="_blank" href="/divorce_involving_debts_info.htm"><img width="187" height="150" border="0" alt="No Children But Debts, Or Property Florida Simple Uncontested Divorce" src="<%= asset_path( 'florida-divorce-no-children-debts.gif' ) %>"></a>            
          </td>
          <td align="center">
            <a target="_blank" href="/divorce_involving_children_and_debts_info.htm"><img width="187" height="150" border="0" alt="Children, Debts, Or Property Florida Simple Uncontested Divorce" src="<%= asset_path( 'florida-divorce-children-debts.gif' ) %>"></a>            
          </td>
      </tbody></table>
    </tbody>
  </table>
</div>