<!DOCTYPE html>
<html>
<head>
  <title>Divorce</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="">Divorce</a></li>
        <li><a href="">Payment</a></li>
        <li><a href="">Facts</a></li>
        <li><a href="">FAQ's</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Contact</a></li>    
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
              